
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;

}
body {
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #313840;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.cta {
  margin-left: 20px;
  margin-right: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.logo {
  height: 90px;
  width: 100%;
  margin-left: 20px;
}
.fa {
  margin: 5px 10px;
  padding: 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 130%;
  font-size: 16px;
}

.nav-links li{
    list-style: none;
    color: #edf0f1;
    text-transform: uppercase;
    margin-right: 5px;
}

.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px
  transition: all 0.3s ease 0s;

}

.nav-links li a:hover{
  color: #0088a9;
  text-decoration: underline;
}


.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}



@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  nav{
    height: 90px;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 9vh;
    background-color: #313840;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }.cta {
    display: none;
  }
  .nav-links li{
    opacity: 1;
  }

  .burger {
    display: block;
  }

  .logo {
    height: 50px;
    width: 80%;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .fa {
    visibility: hidden;
  }
  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }to {
        opacity: 1;
        transform: translateX(0px);
    }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }



}




footer {
  background: #313840;
}
.footer-image {
  float: center;
}


.fwh-slide {
  height: 100vh;
  box-sizing: border-box;
}
.fwh-slide img {
  height: 100%;
  width: 100%;
}

.fwh-slide2 {
  height: 95vh;
  box-sizing: border-box;
}
.fwh-slide2 img {
  height: 100%;
  width: 100%;
}

.fwh-slide3 {
  height: 95vh;
  box-sizing: border-box;
}
.fwh-slide3 img {
  height: 100%;
  width: 100%;
}

.fwh-slide4 {
  height: 95vh;
  box-sizing: border-box;
}
.fwh-slide4 img {
  height: 100%;
  width: 100%;
}
.fwh-slide5 {
  height: 95vh;
  box-sizing: border-box;
}
.fwh-slide5 img {
  height: 100%;
  width: 100%;
}

.fwh-slide6 {
  height: 95vh;
  box-sizing: border-box;
}
.fwh-slide6 img {
  height: 100%;
  width: 100%;
}
