
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

nav {
  height: 10vh;
  background: #05031b;
  opacity: 0.85;
  transition: all 0.5s ease;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  position: fixed;
  width: 100%;
}

nav img {
  height: 80px;
  width: 80px;
  margin-left: 5vh;
  margin-top: 11px;
}

.social-media-icons {
  position: absolute;
  top: 10vh;
  left: 0;
  font-size: 8vh;
  margin-right: 5vh;

}

.fa:hover {
  opacity: 0.7;
}

.fa-youtube {
  background: #05031b;
  color: white;
  margin-top: 0px;
  font-size: 40px;

}

.fa-instagram {
  background:  #05031b;
  color: white;
  top: 0;
  font-size: 50px;
  margin-right: 5vh;

}

nav ul{
  float: right;
  margin-right: 10px;
  margin-top: 20px;

}

nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 5px 50px;
  font-family: "Montserrat", sans-serif;
}



nav ul li a{
  position: relative;
  color: white;
  font-size: 14px;
  padding: 5px 6px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}



nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgb(220,52,52);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
  font-family: "Montserrat", sans-serif;


}

nav ul li a:hover{
  border-radius: 4px;
  transition: all 0.2s ease0;
  color: rgb(220,52,52);
  font-family: "Montserrat", sans-serif;

}



.cta {

  padding: 9px 18px;
  background-color: rgb(220,52,52);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  right: 0;
  margin-left: 20px;
  text-decoration: none;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

label #btn,
label #cancel{
  color: red;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{
  display: none;
}


@media screen and (max-width: 1900px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 10px;
    margin-top: 20px;

  }

  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 5px 50px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 1850px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 10px;
    margin-top: 20px;

  }

  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 5px 30px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1600px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 10px;
    margin-top: 20px;

  }

  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 5px 25px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  }


  @media screen and (max-width: 1500px) {
    nav {
      height: 10vh;
      background: #05031b;
      opacity: 0.85;
      transition: all 0.5s ease;
      font-family: "Montserrat", sans-serif;
      z-index: 1;
      position: fixed;
      width: 100%;
    }

    nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 30px;

    }

    nav ul li{
      display: inline-block;
      margin: 5px 30px;
      line-height: 20px;
      font-family: "Montserrat", sans-serif;
    }



    nav ul li a{
      position: relative;
      color: white;
      font-size: 12px;
      margin-top: 10px;
      padding: 5px 6px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
    }
  }


@media screen and (max-width: 1400px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
  float: right;
  margin-right: 20px;
  margin-top: 30px;

  }

  nav ul li{
    display: inline-block;
    margin: 5px 20px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1350px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
  float: right;
  margin-right: 25px;
  margin-top: 30px;

  }

  nav ul li{
    display: inline-block;
    margin: 5px 20px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  .social-media-icons {
    position: absolute;
    top: 10vh;
    left: 0;
    font-size: 8vh;
    margin-right: 5vh;

  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #05031b;
    color: white;
    margin-top: 0px;
    font-size: 40px;

  }

  .fa-instagram {
    background:  #05031b;
    color: white;
    top: 0;
    font-size: 60px;
    margin-right: 5px;

  }
}



@media screen and (max-width: 1300px) {
  nav {
    height: 10vh;
    background: #05031b;
    opacity: 0.85;
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  nav ul{
  float: right;
  margin-right: 20px;
  margin-top: 30px;

  }

  nav ul li{
    display: inline-block;
    margin: 5px 5px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }



  nav ul li a{
    position: relative;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  .social-media-icons {
    position: absolute;
    top: 10vh;
    left: 0;
    font-size: 8vh;
    margin-right: 5vh;

  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #05031b;
    color: white;
    margin-top: 0px;
    font-size: 40px;

  }

  .fa-instagram {
    background:  #05031b;
    color: white;
    top: 0;
    font-size: 60px;
    margin-right: 5px;

  }
}



.container {
  background-image: url("sac1.png");
  height: 110vh;
  background-size: cover;
  position: ;
  overflow: auto;

}

.contact-form {
  width: 100%;
  height: 85vh;
  max-width: 600px;
  position: inherit;
  margin-top: 10vh;
  margin-left: 10vh;
  padding: 50px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  overflow: auto;
  padding: 10px;
}


.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
  margin: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 70px;
  letter-spacing: 15px;
  text-transform: uppercase;
}
.contact-form p {
  margin-top: 20px;
  font-weight: 50;
  color: white;
  font-family: fantasy;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.txtb{
  border-radius: 10px solid white;
  margin: 8px 0;
  margin-bottom: 50px;
  padding: 12px 18px;
  border-radius: 8px;
  background: #fff;
}
.txtbm{
  border-radius: 10px solid white;
  margin: 20px 0;
  margin-bottom: 50px;
  padding: 20px 18px;
  border-radius: 8px;
  background: #fff;
}

.txtb label {
  display: block;
  text-align: left;
  color: #dbdbdb;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  margin-top: 12px;
  color: #332e2e;
  margin-left: 5px;
  padding-bottom: 13px;
}

.txtbm label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  top: 0;
}

.txtbm input{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  margin-top: 4px;
  color: #332e2e;
  margin-left: 8px;
  padding-bottom: 60px;

}


.btn{
  display: block;
  background:#FFBF0D;
  padding: 12px 0;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 40%;
  border-radius: 10px;
}




.container2 {
  background-image: url("quemsomos.svg");
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.container2 h1 {
  margin: auto;
  line-height: 30px;
  vertical-align: middle;
  margin-left: 10vh;
  padding-top: 15vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #7e7d7d;
}

.container2 h2 {
  margin: auto;
  padding-top: 25vh;
  padding-left: 30vw;
  color: #fff;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.container2 p {
  margin: auto;
  padding-top: 2vh;
  padding-left: 30vw;
  color: #fff;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media screen and (max-width: 1900px) {
  .container2 h2 {
    margin: auto;
    padding-top: 22vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}
@media screen and (max-width: 1800px) {

  .container2 h1 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 9vh;
    padding-top: 15vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #7e7d7d;
  }

  .container2 h2 {
    margin: auto;
    padding-top: 18vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

@media screen and (max-width: 1700px) {

  .container2 h1 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5vh;
    padding-top: 15vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #7e7d7d;
  }

  .container2 h2 {
    margin: auto;
    padding-top: 15vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

@media screen and (max-width: 1650px) {
  .container2 h2 {
    margin: auto;
    padding-top: 13vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

@media screen and (max-width: 1600px) {

  .container2 h1 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5vh;
    padding-top: 15vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #7e7d7d;
  }

  .container2 h2 {
    margin: auto;
    padding-top: 10vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

@media screen and (max-width: 1550px) {

  .container2 h1 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5vh;
    padding-top: 15vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #7e7d7d;
  }

  .container2 h2 {
    margin: auto;
    padding-top: 8vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

.container3 {
  background-image: url("home.svg");
  width: 100vw;
  height: 100vh;
  background-size: contain;
  max-width: 100%;
  left: 0;
}

.container3 h1 {
  margin: auto;
  line-height: 60px;
  vertical-align: middle;
  margin-left: 10vh;
  font-size: 70px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 15vh;

}

.container3 h2 {
  margin: auto;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-left: 2vh;
  color: #fff;
}

@media screen and (max-width: 1400px) {

  .container2 h1 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5vh;
    padding-top: 4vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #7e7d7d;
  }

  .container2 h2 {
    margin: auto;
    padding-top: 12vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container2 p {
    margin: auto;
    padding-top: 2vh;
    padding-left: 30vw;
    color: #fff;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

.container3 {
  background-image: url("home.svg");
  width: 100vw;
  height: 100vh;
  background-size: contain;
  max-width: 100%;
  left: 0;
}

.container3 h1 {
  margin: auto;
  line-height: 60px;
  vertical-align: middle;
  margin-left: 10vh;
  font-size: 70px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 15vh;

}

.container3 h2 {
  margin: auto;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-left: 2vh;
  color: #fff;
}





@media screen and (max-width: 1850px) {
  .container3 h1 {
    margin: auto;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5vh;
    font-size: 67px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 18vh;

  }

  .container3 h2 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-left: 2vh;
    color: #fff;
  }



}

@media screen and (max-width: 1700px) {
  .container3 h1 {
    margin: auto;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5vh;
    font-size: 60px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 15vh;

  }

  .container3 h2 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-left: 2vh;
    color: #fff;
  }



}

@media screen and (max-width: 1550px) {
  .container3 h1 {
    margin: auto;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5vh;
    font-size: 55px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 16vh;

  }

  .container3 h2 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-left: 2vh;
    color: #fff;
  }



}

@media screen and (max-width: 1500px) {
  .container3 h1 {
    margin: auto;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5vh;
    font-size: 50px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 12vh;

  }

  .container3 h2 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    margin-left: 2vh;
    color: #fff;
  }



}

@media screen and (max-width: 1400px) {
  .container3 h1 {
    margin: auto;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 4vh;
    font-size: 50px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 12vh;

  }

  .container3 h2 {
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-left: 2vh;
    color: #fff;
  }



}

.container4 {
  background-image: url("onde-atuamos.svg");
  width: 100vw;
  height: 100vh;
  background-size: contain;
  left: 0;
}


.container4 h1 {
  margin: auto;
  line-height: 60px;
  vertical-align: middle;
  margin-left: 10vh;
  font-size: 50px;
  color: #130055;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 2vh;
}

.container4 p {
  margin: auto;
  line-height: 30px;
  vertical-align: middle;
  margin-left: 10vh;
  margin-top: 3vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #7e7d7d;
}





.container5 {
  background-image: url("servicos.svg");
  width: 100vw;
  height: 100vh;
  background-size: contain;
  max-width: 100%;
  left: 0;
}

.container5 ul {
  padding-top: 5vh;
}

.container5 li {
  padding-left: 22vh;
  padding-top: 4vh;
  line-height: 5px;
  margin: auto;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #7e7d7d;
}

.container5 h1 {
  margin: auto;
  line-height: 60px;
  vertical-align: middle;
  margin-left: 20vh;
  padding-top: 10vh;
  font-size: 50px;
  color: #EF4836;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}










/* navbar */
