body {
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  height: 10vh;
  background: #313840;
}

nav img {
  width: 150px;
  position: absolute;
  top: 7px;
  left: 0;
  margin-left: 35px;
}

.social-media-icons {
  position: absolute;
  top: 2vh;
  left: 0;
  font-size: 30px;
  margin-left: 215px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-youtube {
  background: #313840;
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}

.fa-instagram {
  background: #313840;
  color: white;
  margin-top: 10px;
}

nav ul{
  float: right;
margin-right: 25px;
margin-top: 20px;

}

nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 0 15px;

}

nav ul li a{
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
}

nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background:#0088a9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;


}

nav ul li a:hover{
  border-radius: 4px;
  transition: all 0.2s ease0;
  color: #0088a9;

}



nav ul li2{
  margin-left: 20px;
  padding: 0.4rem 0.6rem;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "monospace", sans-serif;
  font-weight: 500;
  color: #0088a9;
  text-decoration: none;
  font-size: 12px;


}

nav ul li2:hover{
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  color: #0088a9;
  background-color: white;
}
nav ul li2 a{
  position: relative;
  color: white;
  font-size: 18px;
}

nav ul li2 a:hover{
  border-radius: 4px;
  transition: all 0.2s ease0;
  color: #0088a9;
}



label #btn,
label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{
  display: none;
}


@media (max-width: 1118px) {
  nav img{
    left: 0;
    margin-left: 20px;
    top:13px;
    width: 130px;
  }

  .social-media-icons {
    position: absolute;
    top: 2vh;
    left: 0;
    font-size: 30px;
    margin-left: 220px;
  }

  nav ul li a{
    font-size: 14px;
  }
  nav ul li2 a{
    font-size: 14px;
  }
}


@media (max-width:1220px){
  nav img{
    left: 0;
    margin-left: 20px;
    top:13px;
    width: 130px;
  }
  .social-media-icons {
    position: absolute;
    top: 2.4vh;
    left: 0;
    font-size: 26px;
    margin-left: 160px;
  }



  nav ul li a{
    font-size: 15px;
  }
  nav ul li2 a{
    font-size: 15px;
  }
}

@media (max-width:1050px){
  nav img{
    left: 0;
    margin-left: 20px;
    top:13px;
    width: 110px;
  }
  .social-media-icons {
    position: absolute;
    top: 2.8vh;
    left: 0;
    font-size: 20px;
    margin-left: 150px;
  }



  nav ul li a{
    font-size: 13.5px;
  }
  nav ul li2 a{
    font-size: 13.5px;
  }
}

@media (max-width:975px){
  nav img{
    left: 0;
    margin-left: 20px;
    top:19px;
    width: 100px;
  }
  .social-media-icons {
    position: absolute;
    top: 2.8vh;
    left: 0;
    font-size: 20px;
    margin-left: 130px;
  }



  nav ul li a{
    font-size: 12.9px;
  }
  nav ul li2 a{
    font-size: 12.9px;
  }
}
@media (max-width: 944px) {
    nav img{
      left: 0px;
      margin-left: 10px;
      top:20px;
      width: 90px;
    }

    .social-media-icons {
      position: absolute;
      top: 2.8vh;
      left: 0;
      font-size: 20px;
      margin-left: 110px;
    }
    nav ul li a{
      font-size: 12px;
    }
    nav ul li2 a{
      font-size: 12px;
    }
    }

@media (max-width: 900px) {
        nav img{
          left: 0px;
          margin-left: 10px;
          top:20px;
          width: 90px;
        }
        .social-media-icons {
          position: absolute;
          top: 2.8vh;
          left: 0;
          font-size: 20px;
          margin-left: 110px;
        }

        nav ul li a{
          font-size: 11.3px;
        }
        nav ul li2 a{
          font-size: 11.3px;
        }
        }

@media (max-width: 860px) {
      label #btn{
        display: block;


      }

      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #313840;
        top: 7.9vh;
        left: 100%;
        text-align: center;
        transition:  all .7s
      }

      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

      }
      nav ul li2{
        display: block;
      text-align: center;
      padding: 1.5rem;
      list-style: none;
      margin: 2rem auto;
      border-radius: 4px;
      width: 50%;
      background: #4ad9e4;
      text-decoration: none;
      color: #ffffff;
      padding-bottom: 1.5rem;
      font-size: 20px;



      }
      nav ul li a{
        font-size: 20px;
      }
      nav ul li2 a{

      font-size: 20px;

      }
      nav img{
        left: 0px;
        margin-left: 10px;
        top:20px;
        width: 130px;
      }
      .social-media-icons {
        position: absolute;
        top: 2.9vh;
        left: 0;
        font-size: 30px;
        margin-left: 160px;
      }

      #check:checked ~ ul{
        left: 0;
      }

      #check:checked ~ label #btn{
        display: none;
      }
      #check:checked ~ label #cancel{
        display: block;
      }
}


}
